@import 'tailwindcss';

@font-face {
  font-family: 'Integral CF';
  src: url(fonts/IntegralCF/Fontspring-DEMO-integralcf-bold.otf) format('opentype');
  font-weight: bold;
  font-style: normal;
}

@theme {
  --font-satoshi: "Satoshi", sans-serif;
  --color-primary: #460203;
  --font-integralcf: "Integral CF", sans-serif;
}

@utility section-container {
  max-width: 1440px;
  padding-left: 15px;
  padding-right: 15px;
  height: 100dvh;
}

@media (min-width: 768px) {
  .section-container {
    padding-left: 100px;
    padding-right: 100px;
  }
}



