@import 'tailwindcss';


@theme {
  --font-satoshi: "Satoshi", sans-serif;
  --color-primary: #460203;
}

@utility section-container {
  max-width: 1440px;
  padding-left: 15px;
  padding-right: 15px;
  height: 100dvh;
}

@media (min-width: 768px) {
  .section-container {
    padding-left: 100px;
    padding-right: 100px;
  }
}


